<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Create a new Post')"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<main class="container">

    <form th:action="@{/posts/create}" th:method="post" th:object="${newPost}">
        <h4>Title:</h4>
        <label for="title"></label>
        <input name="title" id="title" class="form-control" th:field="*{title}" />
        <br />
        <h4>Write your post here:</h4>
        <textarea class="form-control" rows="10" th:field="*{body}"></textarea>
        <br />
        <h4>Submit Post to Blog</h4>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

</main>

<div th:replace="partials/footer :: footer"></div>

</body>
</html>