<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Edit a Post')"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<main class="container">

    <form th:action="@{/posts/edit}" th:method="post" th:object="${post}">
        <h4>Title:</h4>
        <input class="form-control" th:field="*{title}" th:value="${title}" />
        <br />
        <h4>Description:</h4>
        <textarea class="form-control" rows="10" th:field="*{body}" th:value="${body}"></textarea>
        <br />
        <h4>Submit Edit to Blog:</h4>
        <input class="form-control" type="hidden" th:field="*{id}" th:value="${id}" />
        <button class="btn btn-primary" type="submit">Submit Edit</button>
    </form>

    <form th:action="@{/posts/delete}" th:method="post" th:object="${post}">
        <h4>Delete this post from blog:</h4>
        <input class="form-control" type="hidden" th:field="*{id}"  />
        <button class="btn btn-primary" id="delete">Delete</button>
    </form>

</main>

<div th:replace="partials/footer :: footer"></div>

</body>
</html>