<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="partials/header :: header('Blog Post')">
</head>
<body>
<div class="container">
    <div class="card bg-dark col-12 col-sm-10 col-lg-6 text-white my-5">
        <div class="card-body col-12">
            <div class="card-title col-12">
                <h5 th:text="${title}"></h5>
            </div>
            <div class="card-text col-12">
                <p th:text="${body}"></p>
            </div>
        </div>
    </div>
</div>
<footer th:replace="partials/footer :: footer">
</footer>
</body>
</html>